.sorts-container {
  margin: 3px 10px;
  color: var(--font-color-light);
}

.sorts {
  padding: 3px;
  font-size: var(--font-size-small);
  font-weight: 600;
  color: inherit;
  border: none;
  outline: none;

  &:hover {
    background-color: var(--hover-bg-color);
  }
}
