* {
  outline: dotted pink 1px;
}
body {
  background-color: #6d6d6d;
}
main {
  background-color: white;
  max-width: 662px;
  margin: 0px auto;
  padding: 2px;
  border-radius: 8px;
}
svg {
  display: inline;
  fill: rgba(55, 53, 47, 0.45);
  flex-shrink: 0;
  backface-visibility: hidden;
}

/* ----------------------------------------
  Search
---------------------------------------- */

.search-container {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #eae5e3;
}
.icon-search {
  margin: 0px 10px;
  width: 18px;
  height: 18px;
}
.icon-clear-input {
  margin: 0 15px;
  width: 14px;
  height: 14px;
}
.search {
  margin-left: 5px;
  border: none;
  width: 100%;
  font-size: 18px;
}

/* ----------------------------------------
  Items
---------------------------------------- */

.icon-page {
  width: 18px;
  height: 18px;
}
.page-icon-container {
  margin: 9px 8px 0 15px;
  font-size: 18px;
}
.items {
  overflow-y: auto;
}
.items::-webkit-scrollbar {
  width: 6px;
}
.items::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #7c7c7c;
}

.item {
  border-bottom: solid 1px #eae5e3;
}
.item:hover {
  background-color: #f3f3f3;
}
.url {
  text-decoration: none;
  display: flex;
}
.main-item {
  padding: 7px;
}
.main-item p {
  margin: 2px;
}
.title {
  font-size: 14.5px;
  color: #595857;
}
.text {
  margin-top: 7px !important;
  font-size: 12.5px;
  color: #595857;
}
.parents-path {
  font-size: 12.5px;
  color: #949495;
}
.highlight {
  color: black;
  font-weight: bold;
}

/* ----------------------------------------
  Summary
---------------------------------------- */

.summary {
  padding: 6px 10px;
  color: #949495;
}
.total {
  color: #595857;
  font-weight: bold;
}

/* ----------------------------------------
  Utils
---------------------------------------- */

.hide {
  display: none;
}
