.footer {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 12px;
  border-top: var(--border);
}

.summary {
  margin-right: auto;
  font-size: var(--font-size-small);
  color: var(--font-color-x-light);

  em {
    color: var(--font-color-light);
  }
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: var(--font-size-small);

  img {
    width: 16px;
    margin-left: 10px;
  }
}
