.filters {
  margin: 10px;
  color: var(--font-color-light);
}

.filter {
  padding: 4px 10px;
  border: 1px solid #dcdddd;
  border-radius: 20px;

  &:hover {
    background-color: var(--hover-bg-color);
  }

  &.selected {
    color: rgb(35 131 226);
    background-color: rgb(35 131 226 / 3%);
    border-color: rgb(35 131 226 / 35%);
  }
}
