.callout {
  display: inline-block;
  padding: 5px;
  margin: 8px;
  border: 1px solid;
  border-radius: 5px;

  a {
    text-decoration: underline;
  }
}

.callout-info {
  /* TOOD: mixin ... ? */
  color: rgb(35 131 226);
  background-color: rgb(35 131 226 / 3%);
  border-color: rgb(35 131 226 / 35%);
}
