p {
  margin: 0.5em;
}
body {
  font-size: 16px;
}
h1 {
  font-size: 30px;
}
.hide {
  display: none;
}
.highlight {
  color: green;
  font-weight: bold;
}
div {
  .status {
    font-size: 20px;
    @nest .activated-block & {
      color: #00c600;
      font-weight: bold;
    }
    @nest .not-activated-block & {
      color: red;
      font-weight: bold;
    }
  }
}
