@import './common.pcss';

h1 {
  font-size: 30px;
}
p {
  margin: 0.5em;
}
.hide {
  display: none;
}
.highlight {
  color: green;
  font-weight: bold;
}
.status {
  font-size: 20px;
  .activated-block & {
    color: #00c600;
    font-weight: bold;
  }
  .not-activated-block & {
    color: red;
    font-weight: bold;
  }
}
