:root {
  --font-color-base: 55 53 47;
  --font-color-dark: black;
  --font-color-medium: rgb(var(--font-color-base));
  --font-color-light: rgb(var(--font-color-base) / 65%);
  --font-color-x-light: rgb(var(--font-color-base) / 50%);
  --font-size-large: 1.1rem;
  --font-size-medium: 0.88rem;
  --font-size-small: 0.76rem;
  --font-weight-bold: 500;
  --border: 1px solid #eae5e3;
  --hover-bg-color: #f3f3f3;
}
