name: Slack notification
on:
  workflow_run:
    workflows:
      - Test
    types:
      - completed

jobs:
  on-success:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v3
      - name: Send to Slack
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_USERNAME: Github Actions
          SLACK_ICON: https://cdn-ak.f.st-hatena.com/images/fotolife/C/Cside/20221228/20221228003307.png
          SLACK_WEBHOOK: ${{ secrets.SLACK_INCOMING_WEBHOOK_URL }}
          SLACK_FOOTER: ''
          SLACK_TITLE: Notion Search
          SLACK_MESSAGE: ${{ github.event.workflow_run.head_commit.message }}
  on-failure:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - uses: actions/checkout@v3
      - name: Send to Slack
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_USERNAME: Github Actions
          SLACK_ICON: https://cdn-ak.f.st-hatena.com/images/fotolife/C/Cside/20221228/20221228003307.png
          SLACK_WEBHOOK: ${{ secrets.SLACK_INCOMING_WEBHOOK_URL }}
          SLACK_FOOTER: ''
          SLACK_TITLE: Notion Search
          SLACK_MESSAGE: ${{ github.event.workflow_run.head_commit.message }} @channel
          SLACK_LINK_NAMES: true
          SLACK_COLOR: danger
